@model TCMPLApp.WebApp.Models.EmpBookedDeskListViewModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

<div class="bg-gray-active rounded ">
    <div class="input-group pt-1 pl-1 pr-1 ">
        <input type="text" class="form-control form-control-sm border" id="EmpBookedDeskListSearch" name="GenericSearch"
               onkeypress="genericSearchKeypress('EmpBookedDeskListSearch')" placeholder="Search...">
        <div class="input-group-append">
            <button class="btn btn-sm btn-outline-info" type="button" id="buttonEmpBookedDeskList" onclick="genericSearchOnClick('EmpBookedDeskListSearch')">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div class="card-table">
        <div class="table-responsive">
            <table id="tbEmpBookedDeskList" class="table table-striped table-bordered table-responsive-lg">
                @if ((bool)@Context.Items["isMobile"] == false)
                {
                    <thead class="bg-info text-white">
                        <tr>

                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Deskid)</th>
                            <th>@Html.DisplayNameFor(model => model.Office)</th>
                        </tr>
                    </thead>
                }
            </table>
        </div>
    </div>
</div>