@{

    ViewData["Title"] = "TCMPL Vaccination Drive";
}
<div class="container col-md-5 col-sm-12">
    <div class="card bg-light mb-4 shadow-3">
        <div class="card-header app-h4 app-card-header">
            TCMPL Vaccination Drive - Registration
        </div>
        <div class="card-body text-danger">
            <p>You cannot be registered for TCMPL Vaccination drive due to one of the following reasons</p>
            <ol>
                @if (ViewBag.RegistrationWindowClosed?? false)
                {
                    <li>Registration window closed</li>
                }
                else
                {
                    <li>You have not updated your Vaccine Jab Type.</li>
                    <li>You are fully vaccinated.</li>
                    <li>Your first vaccnination jab is not COVISHIELD.</li>
                    <li>Your second jab due date is after 5-Sep-2021</li>
                }
            </ol>
        </div>
    </div>
</div>
