@{

    ViewData["Title"] = "TCMPL Vaccination Drive";
}
<div class="container col-md-5 col-sm-12">
    <div class="card bg-light mb-4 shadow-3">
        <div class="card-header app-h4 app-card-header">
            Vaccination Details
        </div>
        <div class="card-body text-danger">
            <strong>Self Vaccination Details</strong><br />
            This utility is temporarily under maintenance
        </div>
    </div>
</div>
