@model TCMPLApp.WebApp.Areas.HRMasters.Models.JobGroupCreateViewModel

@Html.AntiForgeryToken()

@{
    UserIdentity currentUserIdentity = CurrentUserIdentity;
}

<form asp-controller="Others"
      asp-action="JobGroupCreate"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update=""
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null)"
      data-ajax-success="onDataTableReloadSuccess"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <div class="modal-header">
        <h5 class="modal-title">New grade</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xl-12 col-md-12">
                <div class="form-group">
                    <label asp-for="GrpCd" class="control-label"></label>
                    <input asp-for="GrpCd" class="form-control" placeholder="Job group code" required />
                    <span asp-validation-for="GrpCd" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-md-12">
                <div class="form-group">
                    <label asp-for="GrpName" class="control-label"></label>
                    <input asp-for="GrpName" class="form-control" placeholder="Job group" required />
                    <span asp-validation-for="GrpName" class="text-danger"></span>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-xl-12 col-md-12">
                <div class="form-group">
                    <label asp-for="MilanGrpName" class="control-label"></label>
                    <input asp-for="MilanGrpName" class="form-control" placeholder="Milan job group" required />
                    <span asp-validation-for="MilanGrpName" class="text-danger"></span>
                </div>
            </div>
        </div> 
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="status"></span>"Waiting..."'
                data-text="Confirm">
            Confirm
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
    </div>
</form>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}


