@model TCMPLApp.WebApp.Models.FilterDataModel

<form class=" "
      id="formIssueToEmployeeFilterSet"
      asp-area="DMS"
      asp-controller="INV"
      asp-action="IssueToEmployeeFilterSet"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update="#modal-content"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);"
      data-ajax-success="PostFilterReLoadDataTable(data);"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input type="hidden" asp-for="@Model.IsFiltered" />


    <div class="modal-header">
        <h5 class="modal-title">Issue to employee </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Filters setup</h5>
            </div>
            <div class="card-toolbar-modal">
            </div>
            <div class="card-block">
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input id="startDateFilter" class="form-control datepickerFilter" placeholder="Start date" />
                </div>
                <div class="form-group ">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input id="endDateFilter" class="form-control datepickerFilter" placeholder="End date" />
                </div>
                <div class="form-group">
                    <label asp-for="ItemUsable" class="control-label"></label>
                    <select asp-for="ItemUsable" class="form-control Select2" asp-items="ViewBag.ItemUsableTypesList" data-placeholder="Please select..."  >
                        <option selected></option>
                    </select>
                 </div>

                <div class="form-group">
                    <label asp-for="Empno" class="control-label"></label>
                    <select asp-for="Empno"  class="form-control Select2" asp-items="ViewBag.EmployeeList" >
                     <option selected></option>
                     </select>
                  </div>
             </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="status"></span>Waiting...'
                data-text="Confirm">
            Confirm
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
    </div>
</form>
