<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">
	<variable name="logdir" />
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <!--<variable name="statdata" value="${longdate} | ${level} | ${event-properties:item=EventId_Id} "/>-->
    <!--
    <target xsi:type="File" name="TCMPLAppLogFile" fileName="C:\\WebAPILogs\\TCMPLApp\\TCMPLAppLog_${shortdate}.log"
            layout="
              ${statData}| User............ ${aspnet-user-identity}${newline}
              ${statData}| Url............. ${aspnet-request-url}/${aspnet-request-querystring}${newline}
              ${statData}| Request Body.... ${aspnet-request-posted-body}${newline}
              ${statData}| Message....... ${message} ${exception:format=tostring}" />
    -->
    
    <target xsi:type="File" name="TCMPLAppLogFile" fileName="${var:logdir}\TCMPLAppLog_${shortdate}.log"
        layout="${longdate}|${aspnet-traceidentifier}|${uppercase:${level}}|${event-properties:item=EventId_Id}|${logger}|${message} ${exception:format=tostring}" />


    <!--
    <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" /> 
    -->

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <!--
    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    -->

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <!--Log all-->
    <logger name="*" minlevel="Info" writeTo="TCMPLAppLogFile" />
    
    <!--Only logging from ErrorController-->
	  <!--<logger name="TCMPLApp.WebApp.Controllers.ErrorController" minlevel="Info" writeTo="TCMPLAppLogFile" />-->
	  <!--<logger name="*" minlevel="Info" writeTo="TCMPLAppLogFile" />-->
    <!--
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    -->
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!--
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    -->
    <!-- BlackHole without writeTo -->
    <!--
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    -->
  </rules>
</nlog>