
@{
    Layout = "~/Views/Shared/_LayoutRestrictIE.cshtml";
    ViewData["Title"] = "Error";
}
<font color="red">
    <h1>This Application does not suppport Internet Explorer.</h1>
    <h2 class="text-danger">Please use Microsoft Edge or Google Chrome browser</h2>
</font>