<page size="A4" >

    
    <p style="font-size:1rem;">We hereby request all employees of TCMPL to declare whether any of their relatives are employed in TCMPL offices and sites in India or employed with any Maire Group company.</p>
    <p style="font-size:1rem;"><br />This is in line with our Group Code of Ethics &ndash; Conflict of Interest guidelines where the Maire Group is committed to preventing any personal interests from having a negative impact on the general interests of the Maire Group and/or influence its decisions.</p>
    <p style="font-size:1rem;"><br />A separate communication will be issued shortly seeking a declaration from all employees on their relatives employed with the Maire Group, if any. Failure to provide the declaration or provide accurate information through such declaration will result in disciplinary action against the defaulting employee.</p>
</page>