@model TCMPLApp.WebApp.Models.FilterDataModel

<form class="form-filter-datetime"
      id="formEmpLockStatusDetailsFilterSet"
      asp-area="EmpGenInfo"
      asp-controller="EmpGenInfoDetails"
      asp-action="FilterSet"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update="#modal-content"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);"
      data-ajax-success="PostFilterReLoadDataTable(data);"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input type="hidden" asp-for="@Model.IsFiltered" />


    <div class="modal-header">
        <h5 class="modal-title">Filter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Filters setup</h5>
            </div>
            <div class="card-toolbar-modal">
            </div>
            <div class="card-block">
                <div class="form-group">
                    <label asp-for="Parent" class="control-label"></label>
                    <select asp-for="Parent" class="form-control chosen-select" data-placeholder="Please select..." asp-items="ViewBag.ParentList">
                        <option selected></option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <div class="form-group">
                            <label asp-for="IsPrimaryOpen" class="control-label"></label>
                            <select asp-for="IsPrimaryOpen" class="form-control chosen-select" data-placeholder="Please select...">
                                <option selected></option>
                                <option value="1">Open</option>
                                <option value="-1">Locked</option>
                            </select>
                            <span asp-validation-for="IsPrimaryOpen" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <div class="form-group">
                            <label asp-for="IsSecondaryOpen" class="control-label"></label>
                            <select asp-for="IsSecondaryOpen" class="form-control chosen-select" data-placeholder="Please select...">
                                <option selected></option>
                                <option value="1">Open</option>
                                <option value="-1">Locked</option>
                            </select>
                            <span asp-validation-for="IsSecondaryOpen" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-xl-6 col-md-12">
                        <div class="form-group">
                            <label asp-for="IsMediclaimOpen" class="control-label"></label>
                            <select asp-for="IsMediclaimOpen" class="form-control chosen-select" data-placeholder="Please select..." >
                                <option selected></option>
                                <option value="1">Open</option>
                                <option value="-1">Locked</option>
                            </select>
                            <span asp-validation-for="IsMediclaimOpen" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <div class="form-group">
                            <label asp-for="IsAadhaarOpen" class="control-label"></label>
                            <select asp-for="IsAadhaarOpen" class="form-control chosen-select" data-placeholder="Please select..." >
                                <option selected></option>
                                <option value="1">Open</option>
                                <option value="-1">Locked</option>
                            </select>
                            <span asp-validation-for="IsAadhaarOpen" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-xl-6 col-md-12">
                        <div class="form-group">
                            <label asp-for="IsPassportOpen" class="control-label"></label>
                            <select asp-for="IsPassportOpen" class="form-control chosen-select" data-placeholder="Please select..." >
                                <option selected></option>
                                <option value="1">Open</option>
                                <option value="-1">Locked</option>
                            </select>
                            <span asp-validation-for="IsPassportOpen" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <div class="form-group">
                            <label asp-for="IsNominationOpen" class="control-label"></label>
                            <select asp-for="IsNominationOpen" class="form-control chosen-select" data-placeholder="Please select..." >
                                <option selected></option>
                                <option value="1">Open</option>
                                <option value="-1">Locked</option>
                            </select>
                            <span asp-validation-for="IsNominationOpen" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-xl-6 col-md-12">
                        <div class="form-group">
                            <label asp-for="IsGtliOpen" class="control-label"></label>
                            <select asp-for="IsGtliOpen" class="form-control chosen-select" data-placeholder="Please select..." >
                                <option selected></option>
                                <option value="1">Open</option>
                                <option value="-1">Locked</option>
                            </select>
                            <span asp-validation-for="IsGtliOpen" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="card-block">
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <div class="form-group">
                            <label asp-for="ExEmpno" class="control-label"></label>
                            <input asp-for="ExEmpno" class="form-control text-uppercase" />
                            <span asp-validation-for="ExEmpno" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="status"></span>Waiting...'
                data-text="Confirm">
            Confirm
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
    </div>
</form>
