@{
    ViewData["Title"] = "Home Page";
}

@section BreadCrumbs
{
<ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Bank guarantee</li>
</ol>
}

@section Styles {
<link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<div class="col-sm-12">
    <div class="row">
        @if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.BG.BGHelper.ActionBGViewer))
        {
            <div class="col-md-3 col-xl-3">
                <div class="card card-tpl">
                    <div class="card-header">
                        <h5>Bank guarantee</h5>
                    </div>
                    <div class="card-block card-tile">
                        <a href="~/BG/BankGuarantee/Index">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h3 class="mb-2 f-w-300"></h3>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-building f-20 text-white theme-green"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.BG.BGHelper.ActionBGAdmin))
        {
            <div class="col-md-3 col-xl-3">
                <div class="card card-tpl">
                    <div class="card-header">
                        <h5>Masters</h5>
                    </div>
                    <div class="card-block card-tile">
                        <a href="~/BG/Masters/Index">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h3 class="mb-2 f-w-300"></h3>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-user-alt f-20 text-white theme-light-teal"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        }
        



    </div>

</div>
@*}*@

