@model TCMPLApp.WebApp.Areas.HRMasters.Models.EmployeeDeactivateViewModel

@Html.AntiForgeryToken()

<form asp-controller="Employee"
      asp-action="DeactivateEmployee"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update=""
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null)"
      data-ajax-success="onSuccessRedirect('/HRMasters/Employee')"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    @Html.HiddenFor(m => m.Empno)

    <div class="modal-header">
        <h5 class="modal-title">Deactivate Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>@ViewBag.Name [ @Model.Empno ]</h5>
            </div>
            <div class="card-block">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <label asp-for="Dol" class="control-label"></label>
                            <input asp-for="Dol" class="form-control" type="date" placeholder="dd-mmm-yyyy" required />
                            <span asp-validation-for="Dol" class="text-danger"></span>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <label asp-for="ReasonId" class="control-label"></label>
                            <select asp-for="ReasonId" class="form-control Select2" asp-items="ViewBag.ReasonList" required>
                                <option value="" hidden disabled selected>Please select...</option>
                            </select>
                            <span asp-validation-for="ReasonId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <label asp-for="Remarks" class="control-label"></label>
                            <textarea asp-for="Remarks" class="form-control" placeholder="Remarks" rows="5" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="submit" id="btnconfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="status"></span>"Waiting..."'
                data-text="Confirm">
            Deactivate
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
    </div>
</form>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



