@model TCMPLApp.WebApp.Areas.HRMasters.Models.EmployeeCreateViewMainModel

@{
    ViewData["Title"] = "Employee creation";
}

@section BreadCrumbs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Home" asp-area="HRMasters">HR Masters</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-action="Index" asp-controller="Employee" asp-area="Masters">Employee master</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Employee creation</h5>
        </div>
        <div class="card-block">
            <form asp-action="Create">
                @*<div class="form-group">
                    <label asp-for="Parent" class="control-label"></label>
                    <select asp-for="Parent" class="form-control Select2" data-placeholder="" Please select..." asp-items="ViewBag.CostcenterId" required>
                        <option selected></option>
                    </select>
                    <span asp-validation-for="Parent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Assign" class="control-label"></label>
                    <select asp-for="Assign" class="form-control Select2" data-placeholder="" Please select..." asp-items="ViewBag.CostcenterId" required>
                        <option selected></option>
                    </select>
                    <span asp-validation-for="Assign" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>*@
            </form>
        </div>
    </div>
</div>
