@model TCMPLApp.WebApp.Models.FilterDataModel

<form class="form-filter-datetime"
      id="formEmpOfficeLocationFilterSet"
      asp-area="HRMasters"
      asp-controller="EmpOfficeLocation"
      asp-action="EmpOfficeLocationFilterSet"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update="#modal-content"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);"
      data-ajax-success="PostFilterReLoadDataTable(data);"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input type="hidden" asp-for="@Model.IsFiltered" />

    @Html.TextBoxFor(model => model.StartDate, "{0:dd-MMM-yyyy}", htmlAttributes: new { @type = "hidden" })
    @Html.TextBoxFor(model => model.EndDate, "{0:dd-MMM-yyyy}", htmlAttributes: new { @type = "hidden" })

    <div class="modal-header">
        <h5 class="modal-title">Employee Office Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Filters setup</h5>
            </div>
            <div class="card-toolbar-modal">
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <div class="form-group">
                            <label asp-for="Parent" class="control-label"></label>
                            <select asp-for="Parent" class="form-control chosen-select" data-placeholder="Please select..." asp-items="ViewBag.CostCodeList">
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Parent" class="text-danger"></span>

                        </div>

                    </div>
                    <div class="col-xl-6 col-md-12">
                        <div class="form-group ">
                            <label asp-for="Grade" class="control-label"></label>
                            <select asp-for="Grade" class="form-control chosen-select" data-placeholder="Please select..." asp-items="ViewBag.GradeList">
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Grade" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <div class="form-group">
                            <label asp-for="EmpType" class="control-label"></label>
                            <select asp-for="EmpType" class="form-control chosen-select" data-placeholder="Please select..." asp-items="ViewBag.EmpTypeList">
                                <option selected></option>
                            </select>
                            <span asp-validation-for="EmpType" class="text-danger"></span>

                        </div>

                    </div>
                    <div class="col-xl-6 col-md-12">
                        <div class="form-group ">
                            <label asp-for="OfficeLocationCode" class="control-label"></label>
                            <select asp-for="OfficeLocationCode" class="form-control chosen-select" data-placeholder="Please select..." asp-items="ViewBag.OfficeList">
                                <option selected></option>
                            </select>
                            <span asp-validation-for="OfficeLocationCode" class="text-danger"></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="status"></span>Waiting...'
                data-text="Confirm">
            Confirm
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
    </div>
</form>
